<head>
    <title>Contact us - Soppy Inc</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<container class="page-contents">
<script id="replace_with_navbar" src="nav.js"></script>
<header>
  <h1>Contact us</h1>
</header>
<section class="soppysection">
<article>
  <a href="mailto:info@soppyinc.nl">Email us at info@soppyinc.nl</a>
  <p>Tweet us <a href="https://twitter.com/realsoppyinc">@realsoppyinc</a> on <a href="https://twitter.com/home">Twitter</a></p>
  <p>Send us a message on <a href="https://www.instagram.com/soppyinc/">@soppyinc</a> on <a href="https://www.instagram.com">Instagram</a></p>
  <a href="meet-the-team.html">Meet the team!</a><br><br>
  <b>Socials</b><br><br>
  <li><a href="https://www.instagram.com/soppyinc/" target="blank">Instagram</a></li>
  <hr>
  <li><a href="https://twitter.com/realsoppyinc" target="blank">Twitter<a></li>
  <hr>
  <li><a href="https://www.facebook.com/soppyinc" target="blank">Facebook page</a></li>
  <hr>
  <li><a href="https://www.linkedin.com/company/79765293/" target="blank">Linkedin</a></li>
  <hr>
</article>
<nav>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</nav>
</section>
<footer>
  <button class="lovelyday" onclick="history.back()">Go Back</button>
  <button  class="lovelyday" onClick="window.location.reload();">Refresh Page</button>
  <button type="button" class="lovelydaytime"
onclick="document.getElementById('demo').innerHTML = Date()">
Click me to display Date and Time.</button>
<button class="lovelyday" onclick="iFunction()">Toggle dark mode</button>
<button onclick="document.location='portal/index.htm'" class="lovelyday">Employee portal</button>
<script>
function iFunction() {
var element = document.body;
element.classList.toggle("dark-mode");
}
</script>
<p id="demo"></p>
</footer>
</container>