<style>
.topnav {
  overflow: hidden;
  background-color: #333;
}

.a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.a:hover {
  background-color: #ddd;
  color: black;
}

.a:active {
  background-color: #04AA6D;
  color: white;
}
</style>
<div class="topnav">
  <a href="index.html">Go home / </a>
  <a href="tutorials.html">Coding tutorials / </a>
  <a href="projects.html">Clients / </a>
  <a href="tools.html">Tools / </a>
  <a href="fun.html">Fun stuff / </a>
  <a href="vacancies.html">Vacancies / </a>
  <a href="websiteinfo.html">Website info / </a>
  <a href="contact.html">Contact us / </a>
  <a href="termsconditions.html">Terms & conditions</a>
</div>
