<title>Terms and conditions - Soppy Inc</title>
<head>
 <LINK href="style.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<style>
  .creditsdiv {
  border: 5px outset black;
  background-color:  #8c8c8c;    
  text-align: center;
  color: white;
  font-family: sans-serif;
}
</style>
<container class="page-contents">
<script id="replace_with_navbar" src="nav.js"></script>
<h1>Terms and conditions at Soppy Inc</h1>
<!--Data-->
<strong>Data:</strong>
<p>We have no purpose or plans with your data. </p>
<hr>
<!--Privacy-->
<strong>Privacy:</strong>
<p>At Soppy Inc., all your data is private.</p>
<hr>
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" / target="_blank"></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>.
<br><p>Basically that means anyone has the right to remix anything on this website.</p>
<hr>
<div class="creditsdiv"
<strong>Credits:</strong>
<p><a href="https://w3schools.com" target="_blank">W3schools.com</a> I learned HTML from W3schools.</p>
<p>My dad. Thanks to him my website works as it should &#128151; </p>
<address>
Written by <a href="mailto:daniel.gray@soppyinc.nl" target="_blank">Daniel Gray</a>.<br> 
Visit us at:<br>
soppyinc.com<br>
the Netherlands<br>
</address>
</div>
<hr>
 <a href="index.html">Go home</a>
 </br>
<button type="button" class="lovelyday"
onclick="document.getElementById('demo').innerHTML = Date()">
Click me to display Date and Time.</button>
<p id="demo"></p>
<button class="lovelyday" onclick="history.back()">Go Back</button>
<button  class="lovelyday" onClick="window.location.reload();">Refresh Page</button>
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
<button class="lovelyday" onclick="iFunction()">Toggle dark mode</button>
<button onclick="document.location='portal/index.htm'" class="lovelyday">Employee portal</button>
<script>
function iFunction() {
var element = document.body;
element.classList.toggle("dark-mode");
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</container>