<title>Tools - Soppy Inc</title>
<head>
  <LINK href="style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
<container class="page-contents">
<script id="replace_with_navbar" src="nav.js"></script>
<header>
<h1>Tools</h1>
</header>
<section class="soppysection">
<article>
<p>Here are a couple of "useful" tools.</p>
<a href="spreadsheeter.html" target="_blank">Spreadsheet maker</a><br>
<a href="https://acme.com/" target="_blank">ACME laboratories <i>Partner</i></a><br>
<a href="calendar/march24.html" target="_blank">Calendar</a><br>
<a href="texteditor.html" target="_blank">Text editor</a><br>
<a href="audio-player.html" target="_blank">Audio player</a><br>
<a href="converters/index.html" target="_blank">Converters</a><br>
<a href="rostermaker.html" target="_blank">School roster maker</a><br>
<a href="live-time.html" target="_blank">Live clock</a>
</article>
<nav>
  <div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</nav>
</section>
<footer>
   <p>Send us a suggestion at info@soppyinc.nl or tweet us @realsoppyinc</p>
  <button type="button" class="lovelydaytime"
onclick="document.getElementById('demo').innerHTML = Date()">
Click me to display Date and Time.</button>
<p id="demo"></p>
<button class="lovelyday" onclick="history.back()">Go Back</button>
<button  class="lovelyday" onClick="window.location.reload();">Refresh Page</button>
</footer>
</container>
</body>
