<title>Calculators - Soppy Inc.</title>
<link rel="stylesheet" href="style.css">
<body>
    <h1>Converters</h1>
    <p>Here's a list of calculators</p>
    <dl>
        <dt>Weight</dt>
            <dd><a href="lbs_kg.html">Pounds (LBS) to Kilograms (KG)</a></dd>
    </dl>
    <dl>
        <dt>School</dt>
            <dd><a href="nlcijferberekenen.html">Dutch mark average calculator</a></dd>
    </dl>
    <button onclick="history.back()">Go Back</button>
</body>